// Specific CSS for your home-page
h5
{
  margin:0px;
  font-size: 15px;
  font-weight:800;
  font-family: 'Spectral', serif !important;
}
h6
{
  margin:0px;
  font-size: 15px;
  font-weight:700;
  font-family: 'Spectral', serif !important;
}

body {
  background-color: #F4F4F4 !important;
}
// p
// {
//   font-size:12px;
//   text-align: left;
//   font-family: 'Spectral', serif !important;
// }
