<div class="container">
    <h1>My bookings</h1>
  <div class="row">
    <div class="col-12 d-flex flex-wrap mt-3">
     <% @bookings.each do |booking| %>
      <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
        <div>
          <strong>Start date</strong><p><%= booking.start_date %></p>
          <strong>End date</strong><p><%= booking.end_date %></p>
        </div>
        <h2 class="card-trip-pricing"><%= link_to "View details", booking_path(booking.bike_id)%></h2>
        </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

<%# <div class="container">
    <h1>My bookings</h1>
  <div class="row">
    <div class="col-12 d-flex flex-wrap mt-3">
      <div class="card-trip">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
        <div>
          <strong>Start date</strong><p>13.02.2022</p>
          <strong>End date</strong><p>13.02.2022</p>
        </div>
        <%# <h2 class="card-trip-pricing"><%= link_to "View details" %>
         <%# </div>
        </div>
    </div>
  </div>
</div> %>
