<div class="container">
  <h1 class="main-heading">Your booking</h1>
  <h2 class="sub-heading">Please comfirm your choice and select a suitable date for your booking.</h2>
  <%= render "booking_form", booking: @booking %>
</div>
