<html>
  <head>
    <meta charset="utf-8">
    <title>Bicycle BNB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
    <!-- We need this line below for responsiveness! -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheets" href="components/_index.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>


  <div class="container">
      <div id="content-wrap">
        <h5>Bicycle BNB</h5>
        <h6>Need a ride? Check out our locations. </h6>
        <div class="row">
          <div class="column">
            <div class="location-card" style="background-image: url(<%= image_path('london.bike.jpeg')%>)">
              <div class="location-description">
                <h5> London </h5>
                <p>Hire from here!</p>
              </div>
            </div>
        </div>
          <div class="column">
            <div class="location-card" style="background-image: url(<%= image_path('paris.bike.jpeg')%>)">
              <div class="location-description">
                <h5> Paris </h5>
                <p>Hire from here!</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="location-card" style="background-image: url(<%= image_path('amsterdam.bike.jpeg')%>)">
              <div class="location-description">
                <h5> Amsterdam </h5>
                <p>Hire from here!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <footer>
        <div class="row justify-content-center">
          <div class="col-sm-4 col-md-3 item">
            <h3>Support</h3>
            <ul>
              <li><a href="#">Help Centre</a></li>
              <li><a href="#">Safety Information</a></li>
              <li><a href="#">Cancellation Options</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>Community</h3>
            <ul>
              <li><a href="#">Company</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Meetup</a></li>
            </ul>
          </div>
          <div class="col-sm-4 col-md-3 item">
            <h3>About</h3>
            <ul>
              <li><a href="#">Our Story</a></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">Newsroom</a></li>
            </ul>
          </div>
          <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
            <p class="copyright">Bicycle BNB © 2022</p>
          </div>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </div>





</html>
