navbar1
<div class="container">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <p>Hello World</p>

<div class="center">
  <div class="location-card">
      <div class="location-image">
      <%# <img src=”app/assets/images/london.jpg”> %>
      </div>
    <div class="location-description">
      <h5> Location 1 </h5>
      <p>Hire from here!</p>
    </div>


  </div>
master
</div>
