.card-grid-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
  justify-content: space-between;
  margin-top: 50px;
}

.card-wrapper {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
}

.bike-photo {
  background-color: blue;
  width: 300px;
  height: 200px;
  background-image: url(asset_path('Random_bike.jpg'));
  background-size: contain;
  border-radius: 2px;
}

.btn .btn-primary .btn-sm{
  text-align: right;
}

.bike-btn {
  border-radius: 4px;
}

#bike-cost {
text-align: right;
margin-bottom: 0px;
font-size: smaller;
font-weight: bold;
}
