@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@700&family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');


.main-heading {
  font-family: 'Aleo', serif;
  font-size: 35px;
}

p {
  font-family: 'Noto sans', sans-serif !important;
}
