
.main-heading {
  font-family: 'Aleo', serif;
  font-size: 35px;
  color: $main-color ;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: 'Aleo', serif;
  font-size: 20px;
  color: $main-color;
}


.home-card-heading {
  font-family: 'Aleo', serif;
  color: #1C1565;
}

p {
  font-family: 'Aleo', serif;
  color: #1C1565;
  margin:0px;
  font-size: 15px;
  font-weight:700;
}

label {
  font-weight: bold;
}
