
.main-heading {
  font-family: 'Aleo', serif;
  font-size: 35px;
  color: $main-color ;
  margin-bottom: 20px;
}

.sub-heading {
  font-family: 'Aleo', serif;
  font-size: 20px;
  color: $main-color;
}


.home-bike-heading {
  font-family: 'Aleo', serif;
  color: #1C1565;
}


.lcard-p {
  font-family: 'Aleo', serif;
  color: #1C1565;
  margin:0px;
  font-size: 15px;
  font-weight:700;
}

p {
  font-family: 'Noto sans', sans-serif !important;
  font-size: 16px;
}

label {
  font-weight: bold;
}
