


.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;

}

h5
{
  margin:0px;
  font-size: 15px;
  font-weight:bolder;
  font-family: 'Spectral, serif';
}


/* End Non-Essential  */

.home_bike-card
{
  height:256px;
  width:370px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background-size: contain;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;

  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}


/* Bottom Card Section */

.home_bike-description
{
  background-color: #FAFAFC;
  height:5em;
  width:50em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:left;
}

/* Property Cards Hover States */

.home_bike-card:hover .home_bike-description
{
  height:0em;
  padding:0px 1em;
}
.home_bike-card:hover .home_bike-image
{
  height:18em;
}
