// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

@import "button";
@import "search_form";

// @import url("app/assets/images");
@import "lcard";
@import "home_bike_card";
@import "container";
@import "div";
@import "footer";
@import "banner";
@import "cardbooking";
@import "logo";

@import "bike_card";

@import "fonts";

// Colours
$main-color: #1C1565;
$second-color: #F8B03B;
$light-grey: #C4C4C4;
$dark-grey: #686868;
