


.center
{
  height:100vh;
  width:100%;
  display: flex;
  justify-content: center;

}

h5
{
  margin:0px;
  font-size: 15px;
  font-weight:700;
  font-family: Arial, sans-serif;
}

p
{
  font-size:12px;
  text-align: left;
  font-family: Arial, sans-serif;
}

/* End Non-Essential  */

.location-card
{
  height:11em;
  width:9.3em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  background-size: contain;
  background-repeat:no-repeat;
  background-size: 270px, 270px;
  background-position:right;
  position:absolute;

  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}


/* Bottom Card Section */

.location-description
{
  background-color: #FAFAFC;
  color:#606060;
  font-family: Arial, sans-serif;
  height:6em;
  width:14em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:left;
}

/* Property Cards Hover States */

.location-card:hover .location-description
{
  height:0em;
  padding:0px 1em;
}
.location-card:hover .location-image
{
  height:18em;
}
